.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #00354e;
}

.bootstrap-select .dropdown-menu li a {
  outline: none;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  color: #00354e;
}

.modal-body {
  padding: 0px;
}

* a {
  text-decoration: none;
}

.btn-custom {
  transition-duration: 0.5s;
  text-decoration: none !important;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 0.3rem;
  text-align: center;
  background-color: #b5ad62;
  color: #fbfbfb;
}
.btn-custom:hover {
  background-color: #9f925e;
  color: #fff;
}

.btn-custom-2 {
  transition-duration: 0.5s;
  text-decoration: none !important;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 0.3rem;
  text-align: center;
  background-color: #00354e;
  color: #fbfbfb;
}
.btn-custom-2:hover {
  background-color: #062330;
  color: #fff;
}

.bg-custom {
  background-image: linear-gradient(to right, #00354e 0%, #51748b 100%);
}

.badge-front {
  background-color: #00354e;
  color: #fff;
}
.badge-front:hover {
  background-color: #062330;
}

.main_properties_price {
  font-size: 1.6em;
  font-weight: 700;
}

.text-title {
  color: #51748b !important;
}

.text-front {
  color: #00354e;
}

.main_header .header_bar {
  background-color: #00354e;
}
.main_header .header_bar p {
  font-size: 0.875em;
  color: #fbfbfb;
}
.main_header .header_bar i {
  font-size: 1.6em;
  color: #fbfbfb;
}

.brand-image-custom {
  width: 360px;
}

@media (min-width: 354px) and (max-width: 465px) {
  .brand-image-custom {
    width: 250px;
  }
}
@media (min-width: 304px) and (max-width: 353px) {
  .brand-image-custom {
    width: 200px;
  }
}
@media (max-width: 303px) {
  .brand-image-custom {
    width: 180px;
  }
}
.main_optin {
  background-color: #00354e;
  text-align: center;
}
.main_optin h1 {
  display: block;
  text-align: center;
  font-size: 1.8em;
  margin: 0 auto;
  margin-bottom: 20px;
}
.main_optin p {
  margin: 0 auto;
  margin-bottom: 20px;
}
.main_optin form {
  max-width: 600px;
  margin: 0 auto;
}
.main_optin form input {
  outline: none;
  margin-bottom: 10px;
}
.main_optin form button {
  width: 100%;
}

.main_footer {
  background: url("../../img/footer.png") repeat-x bottom center;
  background-size: 10%;
}
.main_footer h1 {
  font-size: 1.4em;
  border-bottom: 1px solid font-color;
}
.main_footer ul {
  padding-left: 0px;
}
.main_footer ul li {
  list-style: none;
  margin-bottom: 4px;
}
.main_footer ul li a {
  color: #707176;
}

.main_copyright {
  background-color: #00354e;
  font-size: 0.8em;
  color: #fbfbfb;
}

/** Pages */
.main_slide {
  height: 532px;
  flex-basis: 60%;
  position: relative;
  background: linear-gradient(to right, #51748b 0%, transparent 100%);
  animation: pulse 2.5s forwards;
}
@keyframes pulse {
  0% {
    background-color: #a6bcc4;
  }
  100% {
    background-color: transparent;
  }
}
.main_slide:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: url("../../img/home-hero.webp") center/cover no-repeat;
  background-size: 100%;
  background-position: center 50%;
}
.main_slide .main_slide_content {
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: normal;
  padding: 30px;
  background-color: rgba(31, 32, 31, 0.8);
  color: #ccc;
}
.main_slide .main_slide_content span {
  font-weight: bold;
  color: #fff;
}

.main_list_group .main_list_group_title {
  position: relative;
}
.main_list_group .main_list_group_title::after {
  content: "";
  bottom: 0px;
  left: calc(50% - 210px);
  width: 420px;
  max-width: 100%;
  height: 4px;
  background: #00354e;
  position: absolute;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.main_list_group .main_list_group_item .main_list_group_items_item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main_list_group .main_list_group_item .main_list_group_items_item a {
  flex-basis: 100%;
  min-height: 200px;
  color: #fbfbfb;
  transition: 0.2s;
  font-size: 1.2em;
  text-shadow: 0px 3px 5px #333;
}
.main_list_group .main_list_group_item .main_list_group_items_item a:hover {
  text-decoration: none;
  font-size: 1.25em;
}
.main_list_group .main_list_group_item .main_list_group_items_item a div {
  flex-basis: 100%;
  min-height: 200px;
}
.main_list_group .main_list_group_item .main_list_group_items_item a div h2 {
  font-size: 1em;
  background-image: linear-gradient(to right, #00354e 0%, transparent 100%);
  width: 100%;
  padding: 1.5rem;
}

.main_properties_title {
  position: relative;
}

.main_properties_title::after {
  content: "";
  bottom: -20px;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 4px;
  background: #707176;
  position: absolute;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

@media (max-width: 420px) {
  .main_list_group_title::after {
    width: 100% !important;
    left: 0 !important;
  }
}
.main_contact form {
  padding: 20px;
  width: 600px;
  max-width: calc(100% - 40px);
  background: #fff;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 4px;
}
.main_contact form h2 {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.main_contact_types h2 {
  font-size: 1.4em;
  color: #707176;
}
.main_contact_types p {
  font-size: 0.875em;
}

.main_property h2 {
  margin: 40px 0 20px 0;
}
.main_property .main_property_price p {
  color: #707176;
}
.main_property .main_property_price .main_property_price_small {
  margin-bottom: 0px;
  font-size: 0.8em;
}
.main_property .main_property_price .main_property_price_big {
  margin-bottom: 0px;
  font-size: 1.4em;
}
.main_property .main_property_content_description p {
  margin-bottom: 20px;
  color: #00354e;
}
.main_property .main_property_structure .main_property_structure_item {
  padding: 6px 12px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #a6bcc4;
  border-radius: 4px;
  color: #00354e;
}
.main_property .main_property_contact {
  border-radius: 4px;
  overflow: hidden;
}
.main_property .main_property_contact h2 {
  font-size: 1.2em;
  margin: 0px;
  padding: 20px;
  color: #fbfbfb;
}
.main_property .main_property_contact form {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.main_property_share {
  padding: 1em 0;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main_property_share .btn-front {
  background-color: #00354e;
  border-color: #00354e;
  color: #fff;
}
.main_property_share .btn-front:hover {
  background-color: #062330;
}

@media (max-width: 370px) {
  .main_property_share {
    display: none;
  }
}
